#main-body {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.all-tickets {
    width:80%;
}

.create-ticket-btn {
    margin-top:1rem
}

.form-box {
    flex-direction:row;
    align-self:flex-start;
    width:100%;
    margin-top:10px;

}