@page "/"
@using Shared.Models

<h1>Hello, world!</h1>

Welcome to your new app.


<!-- Hämta o visa alla tickets från databasen-->


@code {



    // Tickets ska vara sorterade kronologist



    // Skapa en ticket, så input fält för modellerna osv

    // Utveckla en återanvändbar komponent

    // Vid klick navigera till TicketManagement

 

}
