@page "/"
@using BlazorTicketClientApp.Components
@using BlazorTicketClientApp.Models
@using BlazorTicketClientApp.Services
@using Shared.Models
@inject ITicketsService ticketsService
<PageTitle>Home</PageTitle>

<div id="main-body">
	<h1 class="ticket-header">All tickets</h1>
	<section class="all-tickets">
		@if(tickets != null)
		{
			@foreach (TicketViewModel ticket in tickets)
			{
				<Ticket TicketModel="ticket" />
			}
		}
		
	</section>
	<button @onclick="CreateTicket" class="create-ticket-btn">Create a new ticket</button>
	@if(isCreatingTicket)
	{
		<div class="form-box">
			<TicketForm />
		</div>
	}
</div>





@code {
	private bool isCreatingTicket;
	private List<TicketViewModel> tickets;
	private Tag selectedTag;
	public TicketViewModel Ticket { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		isCreatingTicket = false;
		tickets = await ticketsService.GetAllAsync();
	}

	private void CreateTicket()
	{
		isCreatingTicket = !isCreatingTicket;
	}

}
    


