@using BlazorTicketClientApp.Models

@if(TicketModel == null)
{
	<p>ViewModel is null</p>
}
else
{
	<div class="ticket">
		<div class="ticket-info">
			<h3 class="ticket-title">@TicketModel.Title</h3>
			<p><em>Submitted by:</em> @TicketModel.SubtmittedBy</p>
			<a href="/details/@TicketModel.Id">Read more</a>
		</div>
		<div class="ticket-desc">
			<p><strong>Description: </strong>@TicketModel.Description</p>
		</div>
	</div>
	
}


@code {
	[Parameter]
	public TicketViewModel? TicketModel { get; set; }
}
